@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700&display=swap');

* {
    transition: all 0.1s ease-in-out;
    font-family: 'Comfortaa', cursive;
}

/* .hidden{
    display: none;
} */
body {
    margin: 0;
}

.root {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    height: auto;
    width: 100%;
    flex-shrink: 0;
    background: #f0dd67;
    font-size: 40px;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

.content {
    height: 100%;
    width: 100%;
    background: #e3e3e3;
    display: flex;
    flex-direction: row;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    background: #e89f3f;
    height: 100%;
    width: 60px;
    padding: 5px;
}

.roundblyad {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #e3e32b;
    margin: 5px 5px 10px 5px;
    background: #ab473a;
    transition: 0.1s ease-in-out;
    position: relative;
    overflow: hidden;
}

.roundblyad > img {
    width: inherit;
}

.roundblyad:hover {
    border-radius: 15%;
}

.productblyad {
    width: 347px;
    height: 300px;
    border: 1px solid black;
    border-radius: 15px;
    margin: 0px 70px 25px 70px;
    background: #ab473a;
    font-size: 87%;
    box-shadow: 3px 3px 40px -21px;
    overflow: hidden;
}

.kortinkablyad {
    width: inherit;
    height: 75%;
    border-radius: 15px;
    overflow: hidden;
    border-bottom: 1px solid black;
}

p {
    padding-left: 20px;
}

.kortinkablyad > img {
    width: inherit;
}

#caption-text-blyad {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
}

#knopkablyad {
    background: #E89F3F;
    border: none;
    border-bottom: 5px solid #000;
    padding: 5px 10px;
    border-radius: 10px;
}

#knopkablyad:active {
    background: #E89F3F;
    border-bottom:
        padding: 5px 5px;
    border-radius: 10px;
    border: none;
}

#nameproductblyad {
    padding-bottom: 5px;
}

.roundebalo {
    width: 48px;
    height: 48px;
}

#cerficationblyad {
    font-size: 20px;
}

ul {
    list-style-type: square;
}

.main_wrapper {
    display: flex;
    flex-direction: column;
}

.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

img {
    width: 100%;
    height: 100%;
}

.description {
    position: absolute;
    top: 50%;
    left: 30%;
    border-radius: 16px;
    position: fixed;
    width: 401px;
    padding: 15px 25px;
    background: rgb(180, 180, 178);
    background: linear-gradient(235deg, rgba(180, 180, 178, 1) 6%, rgba(120, 121, 115, 1) 19%, rgba(196, 200, 201, 1) 77%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.descript-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.close {
    margin: auto 10px;
    font-weight: bold;
    display: inline-block;
    padding: 4px 8px;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
}

.close:hover {
    color: red;
    border: 1px solid red;
}

.selector-blyad {
    position: absolute;
    top: 50%;
    margin: 0 auto;
    z-index: 999;
}
